html {
    scroll-behavior: smooth;
}

body {
    font-family:'Trebuchet MS', sans-serif;
    background-image: url('images/background2.webp');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0.5% 1%;
    padding: 0px;


}

.fancy-border {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    border: 5px solid #7498a1;
    padding: 20px;
    margin: 8px auto;
    background-color: #333333;;

    max-height: 100%;
    width: 85%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    z-index: 1; /* Ensure it stays on top */
    transition: transform 0.5s ease;
}

@media (max-width: 600px) {
    .fancy-border {
        padding: 10px;
        margin: 4px auto;
    }
}


.fancy-border:hover {
    transform: scale(1.03);
}

.fancy-border.hover-active {
    transform: scale(1.03);
}

.nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    transition:unset;
    transform: none;
}

.contact-border {
    border-radius: 0px 0px 30px 30px;
}

.section-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin: 10px;
    width: auto;
    padding: 10px;
}

.section-container::before {
    content: "";
    position: absolute;
    top: -10px;           /* Move the border slightly outside the container */
    left: -2px;  
    right: -2px;
    bottom: -10px;  
    border: 5px double #7498a1;  /* Border color */
    border-radius: 30px;        /* Round the corners */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: -1;
    animation: fadeBorder 4s infinite;  /* Border animation */
}

@keyframes fadeBorder {
    0% {
        opacity: 0; /* Fully transparent */
    }
    50% {
        opacity: 1; /* Fully visible */
    }
    100% {
        opacity: 0; /* Back to fully transparent */
    }
}

.flash {
    animation: flash-bg 2s ease;
}

@keyframes flash-bg {
    0% {
        background-color: #747474;
    }
    100% {
        background-color: #333;
    }
}

h1, h2 {
    font-family: "Press Start 2P", monospace;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 4px #000000;
    color: #7498a1;
    padding: 0px;
    margin: 2%;
}

h2 {
    font-size: 1.5rem;
    color: #dfdccf;
}

h3, h5, h6 {
    text-align: left;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: 10px 0px 10px 23px;


}

h4 {
    font-size: 1rem;
    text-align:center;
    color: #000000;
    margin: 5px 0px 0px 0px;
}

p {
    text-align: left;
    line-height: 2;
    font-size: 1rem;
    color: #dfdccf;
    margin: 10px 0px 0px 23px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 30px;
    position: relative;
    border: 5px solid #7498a1;
    padding: 4%;
    margin: 6% auto;
    background-color: #333;
    max-width: 500px;
    max-height: 100%;
    width: 70%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    z-index: 1; /* Ensure it stays on top */
}

nav {
    
    border-radius: 30px 30px 0px 0px;
}

a {
    color: #7498a1;
    text-decoration: none;
}

a:hover {
    color: #7498a1;
    text-decoration: underline;
}

a:visited {
    color: #dfdccf;
}

section {
    color: #dfdccf;
    transition: background-color 0.5s ease;
}

section ul {
    list-style-position: inside;
    margin: 0%;
    padding: 0%;
}

section ul li {
    margin: 0%;
    padding: 10px 0px;
}

section ul li a {
    margin: 0%;
    padding: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
}
