:root {
    --primary-color: #607f86;
    --secondary-color: #3f3f3f;
    --tertiary-color: #f7f7f7ea;
    --quaternary-color: #857e6a;
    --pixel-font: 'Press Start 2P', cursive;
    --shadow: 10px 10px 15px var(--secondary-color);
    
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

.fancy-border {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    border: 5px solid var(--primary-color);
    padding: 20px;
    margin: 10px;
    background-color: var(--tertiary-color);
    width: 90%;
    box-shadow: var(--shadow);
    z-index: 1; /* Ensure it stays on top */
    transition: transform 0.5s ease;
}

.fancy-border:hover {
    transform: scale(1.01);
}

.fancy-border.hover-active {
    transform: scale(1.01);
}

.nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    transition:unset;
    transform: none;
}

.contact-border {
    border-radius: 0px 0px 30px 30px;
}

.section-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0px 20px 0px;
    width: 95%;
    max-width:  960px;
    padding: 10px 1px 10px 1px;
}

.section-container::before {
    content: "";
    position: absolute;
    top: -1px;           /* Move the border slightly outside the container */
    left: -1px;  
    right: -1px;
    bottom: -1px;
    background-color: #ffffff5b;
    background-blend-mode: hard-light;  
    border: 5px double var(--primary-color);  /* Border color */
    border-radius: 30px;        /* Round the corners */
    box-shadow: var(--shadow);
    opacity: 0;
    z-index: -1;
    animation: fadeBorder 3s infinite;  /* Border animation */
}

@keyframes fadeBorder {
    0% {
        opacity: 0; /* Fully transparent */
    }
    50% {
        opacity: 1; /* Fully visible */
    }
    100% {
        opacity: 0; /* Back to fully transparent */
    }
}

.flash {
    animation: flash-bg 1s ease;
}

@keyframes flash-bg {
    0% {
        background-color: var(--primary-color);
    }
    100% {
        background-color: var(--tertiary-color);
    }
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1rem;
    background-image: url('images/background2.webp');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1px 1px;
    padding: 1px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 30px;
    position: relative;
    padding: 10px auto;
    margin: 20px 1 0px 20px 10px;
    max-width: 500px;
    max-height: 100%;
    width: 80%;
    z-index: 1; /* Ensure it stays on top */
}

nav {
    border-radius: 30px 30px 0px 0px;
}

section {
    color: var(--secondary-color);
    transition: background-color 0.5s ease;
}

section ul {
    list-style-position: inside;
    margin: 0%;
    padding: 0%;
}

section ul li {
    margin: 0%;
    padding: 10px 0px;
}

section ul li a {
    margin: 0%;
    padding: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;

}

h1, h2 {
    font-family: var(--pixel-font);
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px var(--secondary-color);
    color: var(--primary-color);
    padding: 0px;
    margin: 2%;
}

h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-shadow: none;
}

h3, h5, h6 {
    text-align: left;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin: 10px 0px 10px 23px;


}

h4 {
    font-size: 1rem;
    text-align:center;
    color: var(--secondary-color);
    margin: 5px 0px 0px 0px;
}

p {
    text-align: left;
    line-height: 2;
    font-size: 1rem;
    color: var(--secondary-color);
    margin: 10px 20px 0px 20px;
}

a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

a:visited {

}

@media (max-width: 768px) {
    .html {
        font-size: 16px;
    }
    .fancy-border{
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .html {
        font-size: 14px;
    }
    .fancy-border{
        padding: 10px;
    }
}